// Common styles of the project

html, body {
    height: 100%;
}

#game {
    position: relative;
    max-width: 100%;
}

%canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#bgStaticCanvas {
    @extend %canvas;
    position: relative; // Для того чтобы GAME был нужного размера
    z-index: 1;
}

#bgCanvas {
    @extend %canvas;
    z-index: 2;
}

#gameStaticCanvas {
    @extend %canvas;
    z-index: 3;
}

#gameCanvas {
    @extend %canvas;
    z-index: 4;
}

#bonusStaticCanvas {
    @extend %canvas;
    z-index: 5;
}

#bonusCanvas {
    @extend %canvas;
    z-index: 6;
}
