html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #000;
}

#game {
    position: relative;
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

canvas {
    display: block;
    max-width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
